
@{
    ViewBag.Title = "NotConnectedYet";

}

<div class="container container-fluid">
    <div class="jumbotron">
        <h1 class="display-4">You are not authorized yet!</h1>
        <p class="lead">Please contact to Admin to get permissions.</p>
        <hr class="my-4">
        <p>Take the time to read something on the news.</p>
      
    </div>

    <div class="container-fluid loading-div" id="loadingNews"></div>
    <div class="card-columns" style="column-count: 4; column-gap: 0;" id="cards">

    </div>
</div>

<script type="text/javascript">
    // combine URL with API_KEY and paramters
    var url = 'https://newsapi.org/v2/top-headlines?' +
        'country=us&' +
        'category=technology&' +
        'apiKey=bfc10777d8424d098c4f04f1a6abf89e';

    $.get(url).success(data => { // get all news from BBC
        data.articles.forEach(article => { // for each result, create card with title button and image
            var card = '<div class="container container-fluid">' +
                '<div class="card">' +
                (article.urlToImage !== null ? ('<img class="card-img-top" src="' + article.urlToImage + '" alt="' + article.title + '">') : "") +
                '<div class="card-body">' +
                '<h5 class="card-title">'+article.title+'</h5>' +
                '<h6 class="card-subtitle mb-2 text-muted"><span data-date="' + article.publishedAt + '">' + article.publishedAt + '</span> - ' +
                '<cite title="' + article.source.name + '">' + article.source.name + '</cite>' +
                '</h6>' +
                (article.description !==null ? ('<p class="card-text">'+article.description+'</p>'): "") +
                '<a href="'+article.url+'" class="card-link">Go to article</a>' +
                '</div>' +
                '</div>' +
                '</div>';

            $('#cards').append(card); // apend the element
        });

        $(function () {
            $('[data-date]').each(function () {
                var val = $(this).attr('data-date');
                if (val) {
                    $(this).html(moment(val).fromNow());
                }

            });
        });

        $('#loadingNews').hide();
    });
</script>